<!doctype html>
<html lang="ru">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- CSS -->
    <link href="style.css" rel="stylesheet">

    <title>Пластилин</title>
</head>
<body id="app">

<!-- Bootstrap с Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<!-- VUE -->
<script src="https://unpkg.com/vue@next"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a v-on:click="onClickMenuItem('schedule')" class="navbar-brand" href="#">
            <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" width="50px" id="blobSvg">
                <defs>
                    <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" style="stop-color: rgb(233, 100, 67);"></stop>
                        <stop offset="100%" style="stop-color: rgb(144, 78, 149);"></stop>
                    </linearGradient>
                </defs>
                <path id="blob"
                      d="M436,295.5Q392,341,347.5,354Q303,367,261,416Q219,465,163.5,439.5Q108,414,81.5,360.5Q55,307,34.5,244Q14,181,72.5,146.5Q131,112,176.5,83Q222,54,271.5,74Q321,94,379,112Q437,130,458.5,190Q480,250,436,295.5Z"
                      fill="url(#gradient)"></path>
            </svg>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a v-on:click="onClickMenuItem('schedule')"
                   v-bind:class="{ gradient: current_menu_item === 'schedule' }"
                   class="nav-link" href="#"
                   data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Расписание</a>
                <a v-on:click="onClickMenuItem('groups')"
                   v-bind:class="{ gradient: current_menu_item === 'groups' }"
                   class="nav-link" href="#"
                   data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Группы</a>
                <a v-on:click="onClickMenuItem('subjects')"
                   v-bind:class="{ gradient: current_menu_item === 'subjects' }"
                   class="nav-link" href="#"
                   data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Дисциплины</a>
                <a v-on:click="onClickMenuItem('teachers')"
                   v-bind:class="{ gradient: current_menu_item === 'teachers' }"
                   class="nav-link" href="#"
                   data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Учителя</a>
                <a v-on:click="onClickMenuItem('students')"
                   v-bind:class="{ gradient: current_menu_item === 'students' }"
                   class="nav-link" href="#"
                   data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Ученики</a>
                <a v-on:click="onClickMenuItem('places')"
                   v-bind:class="{ gradient: current_menu_item === 'places' }"
                   class="nav-link" href="#"
                   data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Кабинеты</a>
            </div>
        </div>
    </div>
</nav>

<div v-bind:class="{ hidden_block: current_menu_item !== 'schedule' }" class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-8">

            <h1>Расписание</h1>

            <div v-for="(d, i) in days">
                <h3>{{ d.name }}
                    <button v-on:click="newLessonNumber = i" class="my_inline_button shadow-box-medium"
                            data-bs-toggle="modal"
                            data-bs-target="#addLessonModal">
                        новое занятие
                    </button>
                </h3>

                <div v-if="d.lessons.length === 0" class="alert alert-light" role="alert">
                    В этот день занятий нет =(
                </div>

                <div v-for="l in d.lessons" class="card lesson shadow-box-medium">
                    <div class="card-body">
                        <span class="lesson-time">{{ l.time }}</span>
                        <span class="lesson-group">{{ l.group.name }}</span>
                        <span class="lesson-name">{{ l.subject.name }}</span>
                        <br>
                        <span class="lesson-teacher">{{ l.teacher }}</span>
                        <span class="lesson-place">{{ l.place.name }}</span>
                    </div>
                </div>
            </div>

            <!-- Add Lesson Modal -->
            <div class="modal fade" id="addLessonModal" tabindex="-1" aria-labelledby="addLessonModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addLessonModalLabel">Новое занятие</h5>
                            <button type="button" class="my_button shadow-box-medium close" data-bs-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <label for="lessonTime" class="form-label">Время</label>
                                    <input v-model.trim="newLesson.time" type="text" class="form-control"
                                           id="lessonTime"
                                           aria-describedby="lessonTimeHelp">
                                    <div id="lessonTimeHelp" class="form-text">Введите время, например 9:00</div>
                                </div>
                                <div class="mb-3">
                                    <select v-model="newLesson.groupId" class="form-select"
                                            aria-label="Выберите группу">
                                        <option v-for="g in groups" v-bind:value="g.id">{{ g.name }}</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <select v-model="newLesson.subjectId" class="form-select"
                                            aria-label="Выберите дисциплину">
                                        <option v-for="s in subjects" v-bind:value="s.id">{{ s.name }}</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <select v-model="newLesson.placeId" class="form-select"
                                            aria-label="Выберите кабинет">
                                        <option v-for="p in places" v-bind:value="p.id">{{ p.name }}</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <select v-model="newLesson.teacherId" class="form-select"
                                            aria-label="Выберите учителя">
                                        <option v-for="t in teachers" v-bind:value="t.id">{{ t.name }}</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button v-on:click="onClickAddLesson" type="button" class="my_button shadow-box-medium">
                                Добавить занятие
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <h3>Конец</h3>

        </div>
    </div>
</div>

<div v-bind:class="{ hidden_block: current_menu_item !== 'groups' }" class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-8">

            <h1>Группы</h1>
            <button class="my_button shadow-box-medium"
                    data-bs-toggle="modal" data-bs-target="#addGroupModal">новая группа
            </button>
            <div v-if="groups.length === 1" class="alert alert-light" role="alert">
                Групп пока нет =(
            </div>
            <div v-for="g in groups">
                <div v-if="g.id > 0" class="card lesson shadow-box-medium">
                    <div class="card-body">
                        <span class="delete-x" v-on:click="deleteGroup(g.id)">x</span>
                        <span>{{ g.name }}</span>
                    </div>
                </div>
            </div>

            <!-- Add Group Modal -->
            <div class="modal fade" id="addGroupModal" tabindex="-1" aria-labelledby="addGroupModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addGroupModalLabel">Новая группа</h5>
                            <button type="button" class="my_button shadow-box-medium close" data-bs-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <label for="groupName" class="form-label">Название группы</label>
                                    <input v-model.trim="newGroup.name" type="text" class="form-control" id="groupName"
                                           aria-describedby="groupNameHelp">
                                    <div id="groupNameHelp" class="form-text">Введите номер или название группы</div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button v-on:click="onClickAddGroup" type="button" class="my_button shadow-box-medium">
                                Добавить группу
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div v-bind:class="{ hidden_block: current_menu_item !== 'subjects' }" class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-8">

            <h1>Дисциплины</h1>
            <button class="my_button shadow-box-medium"
                    data-bs-toggle="modal" data-bs-target="#addSubjectModal">новая дисциплина
            </button>
            <div v-if="subjects.length === 1" class="alert alert-light" role="alert">
                Дисциплин пока нет =(
            </div>
            <div v-for="s in subjects">
                <div v-if="s.id > 0" class="card lesson shadow-box-medium">
                    <div class="card-body">
                        <span class="delete-x" v-on:click="deleteSubject(s.id)">x</span>
                        <span>{{ s.name }}</span>
                    </div>
                </div>
            </div>

            <!-- Add Subject Modal -->
            <div class="modal fade" id="addSubjectModal" tabindex="-1" aria-labelledby="addSubjectModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addSubjectModalLabel">Новая дисциплина</h5>
                            <button type="button" class="my_button shadow-box-medium close" data-bs-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <label for="subjectName" class="form-label">Название дисциплины</label>
                                    <input v-model.trim="newSubject.name" type="text" class="form-control"
                                           id="subjectName"
                                           aria-describedby="subjectNameHelp">
                                    <div id="subjectNameHelp" class="form-text">Введите название дисциплины
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button v-on:click="onClickAddSubject" type="button" class="my_button shadow-box-medium">
                                Добавить дисциплину
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div v-bind:class="{ hidden_block: current_menu_item !== 'teachers' }" class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-8">

            <h1>Учителя</h1>
            <div v-for="t in teachers" class="teachers-block">
                <div v-if="t.id > 0" class="card teacher shadow-box-medium" style="width: 18rem;">
                    <img v-bind:src="t.image" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text gradient">{{ t.name }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div v-bind:class="{ hidden_block: current_menu_item !== 'students' }" class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-8">

            <h1>Ученики</h1>
            <button class="my_button shadow-box-medium"
                    data-bs-toggle="modal" data-bs-target="#addStudentModal">новый ученик
            </button>
            <div v-if="students.length === 0" class="alert alert-light" role="alert">
                Учеников пока нет =(
            </div>
            <div class="card lesson shadow-box-medium" v-for="s in students">
                <div class="card-body">
                    <span class="delete-x" v-on:click="deleteStudent(s.id)">x</span>
                    <span class="student-name">{{ s.last_name }} {{ s.first_name }}</span>
                </div>
            </div>

            <!-- Add Student Modal -->
            <div class="modal fade" id="addStudentModal" tabindex="-1" aria-labelledby="addStudentModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addStudentModalLabel">Новый ученик</h5>
                            <button type="button" class="my_button shadow-box-medium close" data-bs-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <label for="studentLastname" class="form-label">Фаилия</label>
                                    <input v-model.trim="newStudent.last_name" type="text" class="form-control"
                                           id="studentLastname"
                                           aria-describedby="studentLastnameHelp">
                                    <div id="studentLastnameHelp" class="form-text">Введите фамилию ученика</div>
                                </div>
                                <div class="mb-3">
                                    <label for="studentName" class="form-label">Имя</label>
                                    <input v-model.trim="newStudent.first_name" type="text" class="form-control"
                                           id="studentName"
                                           aria-describedby="studentNameHelp">
                                    <div id="studentNameHelp" class="form-text">Введите имя ученика</div>
                                </div>
                                <div class="mb-3">
                                    <select v-model="newStudent.group_id" class="form-select"
                                            aria-label="Выберите группу">
                                        <option v-for="g in groups" v-bind:value="g.id">{{ g.name }}</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button v-on:click="onClickAddStudent" type="button" class="my_button shadow-box-medium">
                                Добавить ученика
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div v-bind:class="{ hidden_block: current_menu_item !== 'places' }" class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-8">

            <h1>Кабинеты</h1>
            <button class="my_button shadow-box-medium"
                    data-bs-toggle="modal" data-bs-target="#addPlaceModal">новый кабинет
            </button>
            <div v-if="places.length === 1" class="alert alert-light" role="alert">
                Кабинетов пока нет =(
            </div>
            <div v-for="p in places">
                <div v-if="p.id > 0" class="card lesson shadow-box-medium">
                    <div class="card-body">
                        <span class="delete-x" v-on:click="deletePlace(p.id)">x</span>
                        <span>{{ p.name }}</span>
                    </div>
                </div>
            </div>

            <!-- Add Place Modal -->
            <div class="modal fade" id="addPlaceModal" tabindex="-1" aria-labelledby="addPlaceModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addPlaceModalLabel">Новый кабинет</h5>
                            <button type="button" class="my_button shadow-box-medium close" data-bs-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <label for="placeName" class="form-label">Название кабинета</label>
                                    <input v-model.trim="newPlace.name" type="text" class="form-control" id="placeName"
                                           aria-describedby="placeNameHelp">
                                    <div id="placeNameHelp" class="form-text">Введите номер или название кабинета</div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button v-on:click="onClickAddPlace" type="button" class="my_button shadow-box-medium">
                                Добавить кабинет
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    Vue.createApp({
        data() {
            return {
                host: "http://ovz8.vladimir-fodorow.pqj7n.vps.myjino.ru/api",
                // host: "http://localhost/api",
                current_menu_item: "schedule",
                newLessonNumber: 0,
                emptyLesson: {
                    time: "",
                    groupId: 0,
                    subjectId: 0,
                    teacherId: 0,
                    placeId: 0
                },
                newLesson: {
                    time: "",
                    groupId: 0,
                    subjectId: 0,
                    teacherId: 0,
                    placeId: 0
                },
                days: [
                    {
                        name: "Понедельник",
                        lessons: [
                            {
                                time: "9:00",
                                group: {
                                    id: 1,
                                    name: "Старшие"
                                },
                                subject: {
                                    name: "Живопись"
                                },
                                teacher: "Ушакова Ирина Вячеславовна",
                                place: {
                                    name: "310"
                                }
                            },
                            {
                                time: "10:00",
                                group: {
                                    id: 1,
                                    name: "Старшие"
                                },
                                subject: {
                                    name: "Графика"
                                },
                                teacher: "Риферд Регина Сергеевна",
                                place: {
                                    name: "310"
                                }
                            }
                        ]
                    },
                    {
                        name: "Вторник",
                        lessons: [
                            {
                                time: "9:00",
                                group: {
                                    id: 1,
                                    name: "Старшие"
                                },
                                subject: {
                                    name: "Живопись"
                                },
                                teacher: "Ушакова Ирина Вячеславовна",
                                place: {
                                    name: "310"
                                }
                            }
                        ]
                    },
                    {
                        name: "Среда",
                        lessons: [],
                    },
                    {
                        name: "Четверг",
                        lessons: [],
                    },
                    {
                        name: "Пятница",
                        lessons: [],
                    },
                    {
                        name: "Суббота",
                        lessons: [],
                    },
                    {
                        name: "Воскресенье",
                        lessons: [],
                    },
                ],
                emptyStudent: {
                    first_name: "",
                    last_name: "",
                    group_id: 0
                },
                newStudent: {
                    first_name: "",
                    last_name: "",
                    group_id: 0
                },
                students: [],
                emptyPlace: {
                    name: ""
                },
                newPlace: {
                    name: ""
                },
                places: [
                    {
                        id: 0,
                        name: "Выберите кабинет"
                    },
                ],
                emptySubject: {
                    name: ""
                },
                newSubject: {
                    name: ""
                },
                subjects: [
                    {
                        id: 0,
                        name: "Выберите дисциплину"
                    }
                ],
                emptyGroup: {
                    name: ""
                },
                newGroup: {
                    name: ""
                },
                groups: [
                    {
                        id: 0,
                        name: "Выберите группу"
                    },
                ],
                teachers: [
                    {
                        id: 0,
                        name: "Выберите учителя"
                    },
                    {
                        id: 1,
                        name: "Ушакова Ирина Вячеславовна",
                        image: "images/Ushakova.jpg"
                    },
                    {
                        id: 2,
                        name: "Риферд Регина Сергеевна",
                        image: "images/Riferd.jpg"
                    },
                ]
            }
        },
        async mounted() {
            await this.updatePlaces()
            await this.updateSubjects()
            await this.updateGroups()
            await this.updateStudents()
        },
        methods: {
            onClickMenuItem(path) {
                this.current_menu_item = path
            },

            async updatePlaces() {
                try {
                    let response = await fetch(this.host + "/places", {
                        method: "GET",
                        headers: {"Content-Type": "application/json"},
                    })
                    let places = await response.json()
                    console.log(places)
                    this.places = [{id: 0, name: "Выберите кабинет"}]
                    this.places.push(...places)
                } catch (e) {
                    console.error(e)
                }
            },
            async updateSubjects() {
                try {
                    let response = await fetch(this.host + "/subjects", {
                        method: "GET",
                        headers: {"Content-Type": "application/json"},
                    })
                    let subjects = await response.json()
                    console.log(subjects)
                    this.subjects = [{id: 0, name: "Выберите дисциплину"}]
                    this.subjects.push(...subjects)
                } catch (e) {
                    console.error(e)
                }
            },
            async updateGroups() {
                try {
                    let response = await fetch(this.host + "/groups", {
                        method: "GET",
                        headers: {"Content-Type": "application/json"},
                    })
                    let groups = await response.json()
                    console.log(groups)
                    this.groups = [{id: 0, name: "Выберите группу"}]
                    this.groups.push(...groups)
                } catch (e) {
                    console.error(e)
                }
            },
            async updateStudents() {
                try {
                    let response = await fetch(this.host + "/students", {
                        method: "GET",
                        headers: {"Content-Type": "application/json"},
                    })
                    let students = await response.json()
                    console.log("students")
                    console.log(students)
                    this.students = []
                    this.students.push(...students)
                } catch (e) {
                    console.error(e)
                }
            },

            async deletePlace(id) {
                try {
                    await fetch(this.host + "/places/" + id, {
                        method: "DELETE",
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": 'Basic ' + btoa("admin:admin")
                        },
                    })
                    await this.updatePlaces()
                } catch (e) {
                    console.error(e)
                }
            },
            async deleteSubject(id) {
                try {
                    await fetch(this.host + "/subjects/" + id, {
                        method: "DELETE",
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": 'Basic ' + btoa("admin:admin")
                        },
                    })
                    await this.updateSubjects()
                } catch (e) {
                    console.error(e)
                }
            },
            async deleteGroup(id) {
                try {
                    await fetch(this.host + "/groups/" + id, {
                        method: "DELETE",
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": 'Basic ' + btoa("admin:admin")
                        },
                    })
                    await this.updateGroups()
                } catch (e) {
                    console.error(e)
                }
            },
            async deleteStudent(id) {
                try {
                    await fetch(this.host + "/users/" + id, {
                        method: "DELETE",
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": 'Basic ' + btoa("admin:admin")
                        },
                    })
                    await this.updateStudents()
                } catch (e) {
                    console.error(e)
                }
            },

            async onClickAddPlace() {
                let place = {
                    name: this.newPlace.name
                }
                this.newPlace = this.emptyPlace
                try {
                    await fetch(this.host + "/places", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": 'Basic ' + btoa("admin:admin")
                        },
                        body: JSON.stringify(place)
                    })
                    await this.updatePlaces()
                } catch (e) {
                    console.error(e)
                }
            },
            async onClickAddSubject() {
                let subject = {
                    name: this.newSubject.name
                }
                this.newSubject = this.emptySubject
                try {
                    await fetch(this.host + "/subjects", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": 'Basic ' + btoa("admin:admin")
                        },
                        body: JSON.stringify(subject)
                    })
                    await this.updateSubjects()
                } catch (e) {
                    console.error(e)
                }
            },
            async onClickAddGroup() {
                let group = {
                    name: this.newGroup.name
                }
                this.newGroup = this.emptyGroup
                try {
                    await fetch(this.host + "/groups", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": 'Basic ' + btoa("admin:admin")
                        },
                        body: JSON.stringify(group)
                    })
                    await this.updateGroups()
                } catch (e) {
                    console.error(e)
                }
            },
            async onClickAddStudent() {
                let student = {
                    first_name: this.newStudent.first_name,
                    last_name: this.newStudent.last_name,
                    group_id: this.newStudent.group_id,
                    role: "STUDENT"
                }
                this.newStudent = this.emptyStudent
                try {
                    await fetch(this.host + "/users", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": 'Basic ' + btoa("admin:admin")
                        },
                        body: JSON.stringify(student)
                    })
                    await this.updateStudents()
                } catch (e) {
                    console.error(e)
                }
            },
            onClickAddLesson() {
                this.days[this.newLessonNumber].lessons.push({
                    time: this.newLesson.time,
                    group: this.groups.filter(o => o.id === this.newLesson.groupId)[0],
                    subject: this.subjects.filter(o => o.id === this.newLesson.subjectId)[0],
                    teacher: this.teachers.filter(o => o.id === this.newLesson.teacherId)[0].name,
                    place: this.places.filter(o => o.id === this.newLesson.placeId)[0]
                })
                this.newLessonNumber = 0
                this.newLesson = this.emptyLesson
            }
        }
    }).mount('#app')
</script>

</body>
</html>
