h1 {
    padding-top: 30px;
    padding-bottom: 20px;

    background: linear-gradient(0, #904E95FF, #E96443FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.active {
    background: linear-gradient(0, #904E95FF, #E96443FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    padding-top: 20px;
    color: #676767;
    font-size: 25px;
}

.hidden_block {
    display: none;
}